/androi rrt
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Build output
build/
web/.dart_tool/

# Android
android/.gradle/
android/app/build/
**/gradle-wrapper.jar

# iOS (in case you add iOS later)
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/Flutter/ephemeral/
windows/Pods/

# Linux
linux/Flutter/ephemeral/
linux/Pods/

# Web
web/.dart_tool/
web/build/

# IDEs
.idea/
.vscode/
*.iml

# Others
pubspec.lock
*.log
*.tmp

# Firebase
firebase.json
.firebase/

# Node modules (if using Node.js somewhere)
node_modules/

